@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>User registration</h2>

<div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Local Account</h2>
                </div>

                <div class="card-body">
                    <form asp-route="Login">
                        <input type="hidden" asp-for="ReturnUrl" value="@ViewBag.ReturnUrl"/>

                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input class="form-control" placeholder="Name" asp-for="Name" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="email" class="form-control" placeholder="E-Mail" asp-for="Email" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label asp-for="PasswordConfirm"></label>
                            <input type="password" class="form-control" placeholder="ConfirmPassword" asp-for="PasswordConfirm" autocomplete="off">
                        </div>
                        
                        <button class="btn btn-primary" name="button" value="login">Add User</button>
                        <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
